openapi: 3.1.0
info:
  title: Baremetrics Annotations Customers API
  description: REST API for accessing subscription analytics data including MRR, ARR, churn rate, LTV, customer metrics, charges, subscriptions, plans, annotations, and revenue forecasting. Requires bearer token authentication using an API key from Baremetrics account settings.
  version: '1.0'
  contact:
    url: https://developers.baremetrics.com
servers:
- url: https://api.baremetrics.com
security:
- bearerAuth: []
tags:
- name: Customers
paths:
  /v1/{source_id}/customers:
    get:
      summary: List Customers
      description: Returns a list of customers for a given source.
      operationId: list-customers
      parameters:
      - name: source_id
        in: path
        required: true
        schema:
          type: string
      - name: search
        in: query
        schema:
          type: string
      responses:
        '200':
          description: A list of customers
          content:
            application/json:
              schema:
                type: object
                properties:
                  customers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
      tags:
      - Customers
  /v1/{source_id}/customers/{oid}:
    get:
      summary: Show Customer
      description: Returns a single customer by their OID.
      operationId: show-customer
      parameters:
      - name: source_id
        in: path
        required: true
        schema:
          type: string
      - name: oid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A customer object
          content:
            application/json:
              schema:
                type: object
                properties:
                  customer:
                    $ref: '#/components/schemas/Customer'
      tags:
      - Customers
components:
  schemas:
    Customer:
      type: object
      properties:
        oid:
          type: string
          description: Unique identifier for the customer in the source system.
        source_id:
          type: string
          description: The source identifier.
        source:
          type: string
          description: The source name.
        created:
          type: integer
          description: Unix timestamp when the customer was created.
        email:
          type: string
          format: email
          description: Customer email address.
        name:
          type: string
          description: Customer name.
        display_image:
          type: string
          description: URL to customer's display image.
        display_name:
          type: string
          description: Customer display name.
        notes:
          type: string
          description: Notes about the customer.
        ltv:
          type: integer
          description: Lifetime value in cents.
  securitySchemes:
    bearerAuth:
      type: apiKey
      in: header
      name: Authorization
      x-bearer-format: bearer
      x-default: APIKEY
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: false
